{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>Announce</title>
{% endblock %}


{% block body %}
<body>
    <form action='/announce/{{ ClubId }}' method='POST'>
        <div class='mb-3'>
            <label for='l1' class='exampleFormControlInput1'>Create Announcement</label>
            <input id='l1' class='form-control' type='text' name='Header' placeholder='Header'>
            <input id='l1' class='form-control' type='text' name='Message' placeholder='body'>
            <input type='submit' value='Submit'>
        </div>
    </form>
</body>
{% endblock %}