{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>♠ Manager</title>
{% endblock %}

{% block body %}

<body class='form'>
    <main>
        <form class='container formcolor' action='/login' method='POST'>
            <br><br><br><br><br><br>
            <div class='row'>
                <div class='col-4'></div>
                <div class='col-4'>
                    <h1>Login</h1>
                </div>
                <div class='col-4'></div>
            </div>
            <br>
            {{ form.hidden_tag() }}
            <div class='row'>
                <div class='col-4'></div>
                <div class='col-4'>
                    {{ wtf.form_field(form.StudentNum) }}
                </div>
                <div class='col-4'></div>
            </div>
            <br>
            <div class='row'>
                <div class='col-4'></div>
                <div class='col-4'>
                    {{ wtf.form_field(form.Password) }}
                </div>
                <div class='col-4'></div>
            </div>
            <br>
            <div class='row'>
                <div class='col-4'></div>
                <div class='col-4'>
                    <input class='btn btn-primary' type='submit' value='LOGIN'>
                </div>
                <div class='col-4'></div>
            </div>
        </form>
    </main>
</body>
{% endblock %}