{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>Club Manager</title>
<link rel='stylesheet' href='/static/css/styles.css'>
<link rel='stylesheet' href='/static/css/styleves.css'>
{% endblock %}

{% block body %}

<body>
    <header id='header' class='fixed-top d-flex align-items-center'>
        <div class="container d-flex align-items-center justify-content-between">
            <h2><a href='/'>School Club Manager</a></h2>
            <nav class='navbar navbar-expand-lg bg-body'>
                <div class='container-fluid'>
                    <div class='collapse navbar-collapse' id='navbarText'>
                        <ul class="nav justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">My Clubs</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/clubs?mode=new">Create a club</a>
                                </ul>
                            </li>
                            <a class="nav-link" href='/clubs?mode=viewall'>View Clubs</a>
                            {% if not truthy %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">Applicants</a>
                                <ul class="dropdown-menu">
                                    {% for club in userClubCatalogue %}
                                    <a class="dropdown-item"
                                        href="/clubs/{{ club.ClubId }}/applications?mode=viewall">{{ club.ClubName
                                        }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br><br><br><br><br>
    <main class='container'>
        <div class='row'>
            <form method='POST' action='/clubs/{{ ClubId }}/applications/results?mode=sendall'>
                {{ form.csrf_token }}
                <td><input type='submit' class='btn btn-info' value='Send Results To All'></td>
                <br>
                {% if all_club_applications %}
                <table class='table table-dark table-hover'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Student Number</th>
                            <th>Grade</th>
                            <th>View Application</th>
                            <th>Make notes</th>
                            <th>Role applying for</th>
                            <th>Email Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter = 1 %}
                        {% for row in all_club_applications %}
                        <tr>
                            <input type='hidden' value='{{ row.ApplicationId }}' name='ApplicationId'>
                            <td>{{ counter }}</td>
                            <td>f</td>
                            <td>l</td>
                            <td>num</td>
                            <td>Grade</td>
                            <td><a href='/clubs/{{ ClubId }}/applications/{{ row.StudentId }}?mode=view'
                                    target='_blank'>Full
                                    Application</a></td>
                            <td>{{ form.ClubOwnerNotes(class_='form-control') }}</td>
                            <td><input name='RoleIdSelectedFor' type='checkbox'
                                    class='form-check-input' value='{{ row.RoleIdApplyingFor }}'><label></label></td>
                            <td>{{ row.EmailSent }}</td>
                            {% set counter = counter + 1 %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% else %}
            <h1>No responses have been recorded yet!</h1>
            {% endif %}
        </div>
    </main>
</body>
{% endblock %}