{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
<title>Club Manager</title>
<link rel='stylesheet' href='/static/css/styles.css'>
<link rel='stylesheet' href='/static/css/styleves.css'>
{% endblock %}

{% block body %}

<body>
    <header id='header' class='fixed-top d-flex align-items-center'>
        <div class="container d-flex align-items-center justify-content-between">
            <h2><a href='/'>School Club Manager</a></h2>
            <nav class='navbar navbar-expand-lg bg-body'>
                <div class='container-fluid'>
                    <div class='collapse navbar-collapse' id='navbarText'>
                        <ul class="nav justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">My Clubs</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                                    <a class="dropdown-item" href="/clubs?mode=new">Create a club</a>
                                </ul>
                            </li>
                            <a class="nav-link" href='/clubs?mode=viewall'>View Clubs</a>
                            {% if not truthy %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                    aria-expanded="false">Applicants</a>
                                <ul class="dropdown-menu">
                                    {% for club in userClubCatalogue %}
                                    <a class="dropdown-item"
                                        href="/clubs/{{ club.ClubId }}/applications?mode=viewall">{{ club.ClubName
                                        }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <br><br><br><br><br>
    <main class='container'>
        <div class='row'>
            {% if total_length_of_rows != 0 %}
            <form method='POST' action='/clubs/{{ ClubId }}/results?mode=sendall'>
                <td><input type='submit' class='btn btn-info' value='Send Results To All'></td>
                <br>
                <table class='table table-dark table-hover'>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student Number</th>
                            <th>Grade</th>
                            <th>View Application</th>
                            <th>Make notes</th>
                            <th>Role applying for</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter2 = 1 %}
                        {% for i in range(total_length_of_rows) %}
                        <tr>
                            <td>{{ counter2 }}</td>
                            <td>{{ all_studentnums_to_display[i] }}</td>
                            <td>{{ all_grades_to_display[i] }}</td>
                            <td><a href='/clubs/{{ ClubId }}/applications/866639?mode=view' target='_blank'>Full
                                    Application</a></td>
                            <td><textarea class='form-control' style='width: 180px;'></textarea></td>
                            <td><input value='test' type='checkbox' class='form-check-input'><label>{{ all_roles_to_display[i]
                                    }}</label></td>
                        </tr>
                        {% set counter2 = counter2 + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% else %}
            <h1>No responses have been recorded yet!</h1>
            {% endif %}
        </div>
    </main>
</body>
{% endblock %}